<div id="authentication-form">

  <p>
    <b>Instructions to Login:</b><br/>

    A super user (e.g., an employee of HR Depot) may whitelist other users (e.g., HR persons of a customer) who will receive an email containing their sign-in credentials.<br/>
    <br/>
    To sign-in as a super user, please use the following sign-in credentials:<br/>
    Email: abream@master.com<br/>
    Password: password1234<br/>
    Please note that some email providers may block the email or send it to your spam folder.<br/>
    <br/>
    Alternatively, to sign-in as a whitelisted user, please use the following sign-in credentials:<br/>
    Email: cadams@abc.com<br/>
    Password: somepswd<br/>
  </p>

  <h2 id="authentication-title">Sign in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="authentication-field">
    <!-- <%= f.label :email %><br /> -->
    <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="authentication-field">
    <!-- <%= f.label :password %><br /> -->
    <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="authentication-field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
  <% end -%>

  <div class="authentication-actions">
    <%= f.submit "Sign in" %>
  </div>
  <% end %>

  <div id="shared-links">
    <%= render "devise/shared/links" %>
  </div>

</div>
